.process-card {
    .process-card-number {
        font-size: 14px;
        font-weight: 600;
        font-family: $title-font;
        color: $smoke-color;
        text-transform: uppercase;
        border-bottom: 2px solid $smoke-color;
        padding-bottom: 22px;
        position: relative;
        &:after {
            content: '';
            position: absolute;
            left: -4px;
            width: 24px;
            height: 24px;
            border-radius: 50%;
            background: $smoke-color;
            bottom: 0;
            transform: translate(0px, 50%);
            border: 4px solid $title-color;
        }
    }
    .process-card-title {
        font-size: 22px;
        font-weight: 600;
        color: $smoke-color;
        margin-top: 45px;
        padding-right: 34px;
    }
    .process-card-text {
        font-size: 18px;
        font-weight: 400;
        line-height: 30px;
        color: $smoke-color;
        max-width: 330px;
        margin-bottom: -0.3em;
        padding-right: 34px;
    }
}

.process-row {
    max-width: 1400px;
    margin-left: auto;
    margin-right: auto;
}

.process-row > [class*='col-']:last-child {
    .process-card-number {
        width: 72%;
    }

    .process-card-title,
    .process-card-text {
        padding-right: 0;
    }
}

@include lg {
    .process-card {
        .process-card-title,
        .process-card-text {
            padding-right: 24px;
        }

        .process-card-text {
            font-size: 16px;
        }
    }
}

@include md {
    .process-row > [class*='col-']:last-child {
        .process-card-number {
            width: 100%;
        }
    }

    .process-card {
        .process-card-title,
        .process-card-text {
            padding-right: 24px;
        }

        .process-card-text {
            max-width: none;
            font-size: 18px;
        }
    }
}
